<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
	<title th:text="${title}">Fragments</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
	<nav th:fragment="navbar" class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="http://www.ityouknow.com">Ityouknow</a>
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item"><a class="nav-link" th:href="@{/}" href="messages.html">Messages</a></li>
		</ul>
	</nav>
	<form action="#" th:action="@{/login}" th:object="${user}" method="post">
		<label class="label">用户名:</label>
		<input type="text" th:field="*{userName}"/>
		<label class="label">密码:</label>
		<input type="text" th:field="*{passWord}"/>
		<input type="submit" /><br>
	</form>
</div>
</body>
</html>
